@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; 

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #ff9900;
  --primaryIconColorHover: #ff9900;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}


* {
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
  }
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
  }
  
  .logo a {
    color: var(--primaryTextColor);
  }
  
  /* Navigation Menu */
  nav ul li {
    display: flex;
    align-items: center;
  }
  
  nav ul li a {
    color: var(--primaryTextColor);
  }

  .main-container {
    width: 1200px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1200px) {
    .main-container {
      width: 90%;
    }
  }
  
  /* Buttons */
  .btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--borderColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

footer{
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#footer-menu{
    padding-top: 5%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.slideshow-container {
    max-width: 95%;
    height: 75%;
    position: relative;
    margin: auto;
    overflow: hidden;

    border-radius: 20px;
  
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Menu Section*/
.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.menu-item {
    width: 200px; 
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: 37%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 14px;
    color: #666;
}


h1{
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 2%
    
}

/*Contact Section*/
#contact {
    padding: var(--sectionPadding);
  }
  
  .contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  
  .contact-form div {
    margin-bottom: 1.4rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #9d9fa1;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
  }
  
  .btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryIconColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn-submit:hover {
    background-color: var(--primaryIconColorHover);
  }
  

  .contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-item-icon svg {
    fill: var(--primaryIconColor);
  }
  
  .contact-item-detail h4 {
    margin-bottom: 0.6rem;
  }


  
  .footer-icons {
    margin-bottom: 1rem;
  }
  
  .footer-icons a {
    margin: 0 0.5rem;
  }
  
  .footer-icons svg {
    fill: #3e3f40;
  }
  
  .footer-icons a:hover svg {
    fill: #000;
  }

  #map{
    order: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  }